body {
font-family: 'Arial', sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
}

header {
background-color: #333;
color: #fff;
padding: 10px 0;
text-align: center;
}

nav {
background-color: #444;
padding: 10px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

nav li {
margin: 0 15px;
}

nav a {
text-decoration: none;
color: #fff;
font-weight: bold;
transition: color 0.3s ease;
}

nav a:hover {
color: #ffcc00;
}

.logo {
font-size: 1.5em;
font-weight: bold;
}

/* Responsive styles */
@media screen and (max-width: 400px) {
nav {
padding-top: 10px;
}

nav ul {
flex-direction: column;
text-align: center;
}

nav li {
margin: 10px 0;
} 
}

/* Footer  */

footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px 0;
position: fixed;
bottom: 0;
width: 100%;
}

.social-icons {
margin-top: 10px;
}

.social-icons a {
display: inline-block;
margin: 0 10px;
color: #fff;
font-size: 1.5em;
text-decoration: none;
}

.social-icons a:hover {
color: #ffcc00;
}

.content {
max-width: 800px;
text-decoration: solid;
margin: 20px auto;
padding: 20px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
text-decoration: none;
}

/* Contact Page */
form {
display: flex;
flex-direction: column;
}

label {
margin-bottom: 8px;
}

input, textarea {
padding: 8px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
background-color: #ffcc00;
color: #333;
padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
}

button:hover {
background-color: #ffe066;
}

/* Quizlist  */
#quiz-container {
max-width: 600px;
margin: 0 auto;
background-color: #f8f8f8;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
max-width: 100%;
height: auto;
}

.question-container {
margin-bottom: 20px;
display: block;
}

p {
margin-bottom: 10px;
}

input {
margin-right: 5px;
margin-bottom: 5px;
}

button:disabled {
background-color: #ccc;
cursor: not-allowed;
}